[defaults]

inventory = /home/student/2_implementacion_de_playbooks/inventory
collections_path = /usr/share/ansible/collections/ansible_collections/:/home/student/3_gestion_de_variables_y_datos/collections

roles_path = /home/student

remote_user = student

[priviledge_escalation]

become = true
